APScheduler==3.7.0
asgiref==3.5.0
certifi==2020.6.20
chardet==3.0.4
Django==4.0.3
django-environ==0.4.5
gunicorn==20.0.4
idna==2.10
MarkupSafe==1.1.1
packaging==20.4
psycopg2-binary==2.8.6
pyparsing==2.4.7
pytz==2020.1
requests==2.24.0
six==1.15.0
sqlparse==0.4.2
tzlocal==2.1
urllib3==1.26.5
webencodings==0.5.1
Werkzeug==1.0.1
whitenoise==5.2.0
python=3.8.10
