{% extends "movies/layout.html" %}
{% load static %}

{% block body %}

  {% if msg %}
    <div class="alert alert-success" role="alert">
        {{ msg }}
    </div>
  {% endif %}
  {% if user.is_authenticated %}
    <div id="user-logged" hidden></div>
  {% endif %}
  <div class="index-page">
    <div class="search-container">
      <p class="search-title">Search for your favorite movies!</p>
      <div class="input-group mx-auto mb-2 search-input">
        <input type="text" class="form-control input-index" placeholder="Search for a title" >
        <div class="input-group-append">
          <button class="btn btn-outline-secondary index-btn" type="button">Search</button>
        </div>
      </div>
      <small class="form-comment">*Any movie with the word as the title or part of the title will appear as a result.</small>
    </div>

    <div>
      <h3 class="title-index">Latest Movies</h3>
    </div>

    <div class="index-main">
      <div class="btn-top">
        <img class="tip-top" src="{% static 'movies/icons/up-arrow(1).png' %}" alt="Back-to-top" width="40" height="40">
        <span class="tip-icon">Back to top</span>
      </div>
      
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 row-cols-lg-5 movies-index">
      
        {% for movie in movies %}
          <div class="col mb-4">
            <div class="card h-100">
              {% if movie.poster_path == None %}
              <a href="movie/{{ movie.id }}">
                <img src="{% static 'movies/img/film.jpg'%}" class="card-img-top" alt="No Poster">
                <p class="no-poster">No poster available for this title.</p>
              </a>
              {% else %}
              <a href="movie/{{ movie.id }}">
                <img src='https://image.tmdb.org/t/p/w500//{{ movie.poster_path }}' class="card-img-top" alt="No Poster">
              </a>
              {% endif %}
              {% if user.is_authenticated and movie.in_list %}
              <div class="grey-msg">
                <small class="blank" id="{{ movie.id }}" style="display: none;">Add to list
                  <span class="tip">Click to add</span>
                </small>
                <small class="green" id="{{ movie.id }}">Remove from list
                  <span class="tip">Click to Remove</span>
                </small>
              </div>
              {% endif %}
              {% if user.is_authenticated and not movie.in_list %}
              <div class="grey-msg">
                <small class="blank" id="{{ movie.id }}">Add to list
                  <span class="tip">Click to add</span>
                </small>
                <small class="green" id="{{ movie.id }}" style="display: none;">Remove from list
                  <span class="tip">Click to Remove</span>
                </small>
              </div>
              {% endif %}
              <div class="card-body">
                <h5 class="card-title">{{ movie.title }}</h5>
                <p class="card-text">{{ movie.release_date }}</p>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
    
  </div>
{% endblock %}

{% block script %}
  <script src="{% static 'movies/js/index.js' %}"></script>
{% endblock %}