{% extends "movies/layout.html" %}
{% load static %}

{% block body %}
    <div class="signin-page">

        {% if msg %}
            <div class="alert alert-danger" role="alert">
                {{ msg }}
            </div>
        {% endif %}

        <form method="post" action="{% url 'sign_in' %}" class="p-5 signin-form">
            {% csrf_token %}
            <div class="form-group mx-auto">
                <label class="blue">Name:</label>
                <input type="text" class="form-control name" name="username" required>
            </div>
            <div class="form-group mx-auto">
                <label class="blue">Password:</label>
                <input type="password" class="form-control password" name="password" required>
            </div>
            
            <div class="form-group mx-auto">
                <button type="submit" class="btn btn-primary submit">Submit</button>
            </div>
        </form>
        <footer class="footer">
            <div class="references">
                <div class="tmdb-container">
                    This web application uses   <img class="tmdb" src="https://www.themoviedb.org/assets/2/v4/logos/v2/blue_long_2-9665a76b1ae401a510ec1e0ca40ddcb3b0cfe45f1d51b77a308fea0845885648.svg" alt="themoviedb">   API.
                </div>
                <p class="flaticon">Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> and <a href="https://www.flaticon.com/free-icon/up-arrow_992534?term=arrow&page=3&position=9&related_item_id=992534" title="dmitri13">dmitri13</a> from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a></p>
            </div>
            <div class="more-details">
                <p>Portfolio:  </p>
                <p>GitHub: <a href="https://github.com/Meneguini"><img class="github-icon" src="{% static 'movies/icons/github.png' %}" alt="Github icon"></a></p>
            </div>
            <p class="copyright">&copy; Copyright {% now "Y" %}, Meneguini</p>
        </footer>
    </div>
{% endblock %}
