{% extends "movies/layout.html" %}
{% load static %}


{% block body %}
    <div class="mylist-page">

        <div class="user-list-name" hidden>{{ user_list }}</div>

        <div class="alert alert-danger" role="alert" style="display: none;"></div>
        {% if user_logged == user_list %}
            <h3 class="title-index title-mylist">My List of Movies</h3>
        {% else %}
            <h3 class="title-index title-mylist">{{ user_list.capitalize }} list of Movies</h3>
        {% endif %}
        <div class="social-icons">
            <!-- to encrypt the text for twitter https://meyerweb.com/eric/tools/dencoder/ -->
            <span class="share-text">Share your list: </span>
            <a target="_blank" href="https://twitter.com/intent/tweet?text=Here%20you%20can%20find%20my%20list%20of%20films.%20{{ request.build_absolute_uri }}" class="twitter-icon"><img src="{% static 'movies/icons/twitter.png' %}" alt="Google Plus" width="25" height="25"></a>
            <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}" class="fb-xfbml-parse-ignore facebook-icon"><img src="{% static 'movies/icons/facebook.png' %}" alt="Facebook" width="25" height="25"></a>
        </div>

        <div class="spinner-box">
            <img src="/static/movies/img/spinner.gif" alt="Loading page">
        </div>


        <div class="empty-list-div" style="display: none;">
        </div>


        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 row-cols-lg-5 movies-index">
        </div>
            
        <footer class="footer">
            <p class="flaticon">Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> , <a href="https://www.flaticon.com/free-icon/up-arrow_992534?term=arrow&page=3&position=9&related_item_id=992534" title="dmitri13">dmitri13</a> and <a href="https://icon54.com/" title="Pixel perfect">Pixel perfect</a> from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a></p>
            <img class="tmdb" src="https://www.themoviedb.org/assets/2/v4/logos/v2/blue_long_2-9665a76b1ae401a510ec1e0ca40ddcb3b0cfe45f1d51b77a308fea0845885648.svg" alt="themoviedb">
            <p class="copyright">&copy; Copyright {% now "Y" %}, Meneguini</p>
        </footer>
    </div>
{% endblock %}

{% block script %}
  <script src="{% static 'movies/js/mylist.js' %}"></script>
{% endblock %}