body {
    font-family: 'Roboto', sans-serif;
}

.blue {
    color: #0056b3;
}

/* Navbar */
.navbar {
    width: 100%;
    padding-left: 16%;
    padding-right: 16%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    background-color: #ebdf41;
    box-shadow: 0 2px 2px -2px rgba(0,0,0,.2);
}

.equal-icon {
    background-color: #ebdf41;
    color: #0056b3;
    border: 1px solid #0056b3;
    border-radius: 5px;
    cursor: pointer;
    display: none;
} 

.navbar-brand {
    margin-right: 0px;
    font-size: 150%;
    font-family: 'Bangers', cursive;
}

.icon-nav {
    margin-right: 4%;
}

.paths {
    margin-right: 3%;
    justify-self: end;
}

.toggled {
    display: none;
    background-color: #1e3c5c; 
    height: 13vh;
    text-align: center;
    margin-bottom: 7%;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
}

.toggle-items {
    text-align: center;
    display: grid;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    align-items: center;
    grid-gap: 30%;
}

.white {
    color: white;
}

.welcome {
    color: #1e3c5c;
}

.welcome-responsive {
    display: none;
    width: 100%;
    text-align: center;
    background-color: #1e3c5c; 
    border-bottom: 1px solid white;
}

/* Footer */
.footer {
    padding: 1%;
    text-align: center;
    background-color: #ebdf41;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.flaticon {
    color: #0056b3;
}

.tmdb {
    width: 20%;
    height: 5%;
    margin-bottom: 2%;
    margin-top: 1%;
}

/* Sign in */
.signin-form {
    margin-top: 5%;
}

/* index-page */

.search-container {
    width: 100%;
    height: 25vh;
    padding-top: 2%;
    text-align: center;
    background-color: #f1edb5;
    background: radial-gradient(circle, rgba(241,237,181,1) 0%, rgba(235,223,65,1) 100%);
    /* background: radial-gradient(circle,  #064b95 0%,  #0b2c4e 100%); */
}

.search-title {
    font-weight: bolder;
    font-size: 2rem;
    margin-left: auto!important;
    margin-right: auto!important;
    width: 40%;
    color: #0056b3;
    /* color: white; */
}

.search-input {
    width: 40%;
    margin-top: 2%;
}

.form-comment {
    color:  #0056b3;
    /* color: white; */
}

.title-index {
    text-align: center;
    color: #0056b3;
    margin-top: 3%;
}

.input-index {
    border-color: #0056b3;
}

.btn-outline-secondary {
    background-color: #0056b3;
    color: white;
}

.index-main {
    position: relative;
}

.btn-top {
    cursor: pointer;
    position: fixed;
    display: none;
    bottom: 5%;
    right: 5%;
}

.movies-index {
    margin: 2%;
    margin-left: 15%;
    margin-right: 15%;
}

.card {
    border: none;
    box-shadow: 3px 3px 3px 0px rgba(65, 65, 65, 0.3);
}

.card:hover {
    transform: scale(1.02);
    transition: 0.1s;
}

.card-body {
    padding: 0.7rem;
    padding-bottom: 0.5rem;
    background-color: #0f3966;
    color: white;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.card-img-top {
    text-align: center;
    font-size: 150%;
    text-decoration: underline;
}

.card-title {
    font-size: 1rem;
    font-weight: bold;
}

.card-text {
    font-size: 85%;
    flex-wrap: nowrap;
}

.no-img {
    margin: 5%;
    margin-bottom: 15%;
    margin-top: 15%;
    width: 80%;
    height: 80%;
}

/* movie details page */

.movie-detail-page {
    /* padding-top: 2%; */
    position: relative;
    padding-bottom: 15%;
}

.title-icon {
    display: grid;
    grid-template-columns: 80% 20%;
    justify-items: center;
    align-items: center;
}



.movie-title {
    color: #0056b3;
    margin-left: 20%;
    font-size: 2rem;
}

.list-blank:hover, .list-green:hover {
    cursor: pointer;
}

.watch {
    font-size: 1.3rem;
    color: #0056b3;
    margin-bottom: 2%;
}

.trailer-container {
    padding-left: 15%;
    padding-right: 15%;
}

.media-movie {
    margin-top: 5%;
    /* background-color: #0056b3; */
    background: radial-gradient(circle,  #0056b3 0%,  #0b2c4e 100%);
    color: white;
    padding: 4%;
}

.media-body {
    margin-left: 3%;
    font-size: 1.5rem;
}

.title-poster {
    font-size: 2rem;
    margin-bottom: 3%;
    color:  #ebdf41;
}

.bold {
    font-weight: bolder;
    font-size: 120%;
}

.poster-movie-details {
    width: 20%;
}


/* Mylist page */
.title-mylist {
    margin-top: 4%;
    margin-bottom: 1%;
}

.social-icons {
    text-align: center;
    margin-bottom: 3%;
}

.twitter-icon {
    margin-right: 2%;
}

.facebook-icon {
    margin-left: 2%;
}

.media-mylist {
    margin-top: 5%;
    margin-left: 15%;
    width: 70%;
    background-color: #638db9;
    color: white;
    padding: 3%;
    border-radius: 10px;
    position: relative;
}

.icons-box {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 30%;
}

.star-box {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 3%;
}

.eye-end {
    justify-self: end;
}

.end {
    justify-self: end;
}

.mylist-hover:hover {
    cursor: pointer;
    transform: scale(1.3);
    transition: 1s;
}

/* Responsive */

@media screen and (max-width: 1680px) {
    /* Nav */
    .navbar {
        padding-left: 1%;
        padding-right: 0;
    }
    /* Movie details page */
    .poster-movie-details {
        width: 30%;
    }
}

@media screen and (max-width: 1280px) {    
    /* Index */
    .search-container {
        height: 30vh;
        padding-top: 2%;
    }
    
    .search-title {
        font-size: 1.5rem;
        width: 60%;
    }

    .search-input {
        width: 50%;
    }

}

@media screen and (max-width: 980px) {
    /* Index */
    .search-container {
        height: 25vh;
    }
    
    .search-title {
        font-size: 1.3rem;
        width: 60%;
    }

    .search-input {
        width: 60%;
    }

    /* Movie details */
    .media-body {
        font-size: 1.2rem;
    }


}

@media screen and (max-width: 736px) {
    /* Navbar */
    .nav {
        display: none;
    }

    .equal-icon {
        display: block;
    }

    .welcome-responsive {
        display: block;
    }

    .toggle-items {
        padding-top: 3%;
    }

    /* Index */
    .search-container {
        padding-top: 4%;
    }
    
    .search-title {
        font-size: 1.3rem;
    }
    
    .search-input {
        width: 80%;
        margin-top: 2%;
    }

    .movies-index {
        margin-left: 15%;
    }

    .card {
        width: 80%;
        margin-left: 10%;
    }

    /* Movie page */
    .movie-detail-page {
        padding-bottom: 20%;
    }

    .trailer-container {
        padding-right: 2%;
        padding-left: 2%;
        margin-top: 5%;
        margin-bottom: 10%;
    }

    .watch {
        margin-bottom: 2%;
    }

    .media-movie {
        display: grid;
        grid-template-rows: 45% auto;
        
    }

    .poster-movie-details {
        width: 40%;
        /* height: 70%; */
        margin-left: 30%;
    }

    .media-body {
        margin-top: 4%;
        margin-bottom: 3%;
        padding-bottom: 5%;
    }

    .no-trailer {
        text-align: center;
        color: rgb(192, 67, 67);
    }

    /* mylist */
    .title-mylist {
        margin-top: 9%;
        margin-bottom: 3%;
    }

    .media-mylist {
        width: 90%;
        margin: 5%;
        display: grid;
        grid-template-rows: auto auto auto;
        margin-bottom: 0;
        padding-bottom: 0;
    }

    .poster-mylist {
        width: 70%;
        margin-left: 15%;
    }

    .media-body-list {
        margin-top: 10%;
        margin-bottom: 5%;
        padding-bottom: 5%;
    }

    .released-mylist {
        margin-top: -5%;
    }
/* 
    .watch-trailer{
        margin-top: -50%;
    } */

    .icons-box {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 0;
        margin-top: 6%;
        justify-content: center;
    }

    .star-box {
        grid-column-start: 1;
        grid-column-end: 3;
        margin-left: 15%;
        width: 70%;
        margin-top: 8%;
    }

    .eye-end {
        justify-self: center;
        margin-top: 9%;
        margin-bottom: -20%;
    }
    .end {
        justify-self: center;
        margin-top: 9%;
    }

    .footer {
        text-align: center;
    }

    /* footer sigin */
    /* .footer {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        text-align: center;
    } */
    .flaticon {
        font-size: 60%;
        /* width: 90%; */
    }
}

/* Responsive */
@media screen and (max-width: 600px){
    /* Nav */
    .nav {
        display: none;
    }

    .equal-icon {
        display: block;
    }

    .toggle-items {
        padding-top: 4%;
    }

    /* Index */
    .search-container {
        padding-top: 5%;
        height: 26vh;
    }
    
    .search-title {
        font-size: 1.3rem;
        width: 60%;
    }
    
    .form-comment { 
        font-size: 0.8rem;
        width: 80%;
    }
    /* Movie details */

    .movie-detail-page {
        padding-bottom: 25%;
    }

    .movie-title {
        font-size: 1.3rem;
    }

    .list-blank, .list-green {
        width: 30%;
    }

    .media-movie {
        grid-template-rows: 30% auto;
    }

    /* Footer */
    .flaticon {
        margin-top: 1%;
    }

    .copyright {
        font-size: 80%;
    }

}

@media screen and (max-width: 430px){
    /* Nav */
    .toggle-items {
        padding-top: 5%;
    }

    /* Index */
    .search-container {
        height: 26vh;
        padding-top: 5%;
    }
    
    .search-title {
        font-size: 1rem;
        width: 80%;
    }
    
    .search-input {
        width: 85%;
        margin-top: 2%;
    }
    
    .form-comment { 
        font-size: 0.8rem;
        width: 80%;
        margin-right: 4%;
        margin-left: 4%;
    }

    /* Movie details */
    .movie-title {
        font-size: 1.1rem;
    }

    /* Movie details */

    .movie-detail-page {
        padding-bottom: 40%;
    }

    .movie-title {
        font-size: 1rem;
    }

    .list-blank, .list-green {
        width: 30%;
        height: 25%;
    }

    .media-movie {
        grid-template-rows: 28% auto;
    }

    .media-body {
        font-size: 1rem;
    }
    
    .title-poster {
        font-size: 1.1rem;
    }

    .bold {
        font-size: 100%;
    }

    /* Footer */
    /* .footer {
        padding: 1%;
        text-align: center;
        background-color: #ebdf41;
        position: absolute;
        bottom: 0;
        width: 100%;
    } */

    /* .flaticon {
        color: #0056b3;
    } */

    .tmdb {
        width: 30%;
    }
        

}